body {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    margin: 0;
    padding: 10px;
    background-color: #fffffe;
}

header {
    background-color: #ffffff;
    text-align: center;
    position: relative;
    width: 100%;
}

/* Banner superior "Bakery"*/
.header-banner {
    width: 100%;
    height: 100px;
    overflow: hidden;
}

/* Imagem do banner superior "Bakery"*/
.header-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right 30%;
    /* Centra mejor el enfoque vertical de la torta al recortarse */
}

/* Lista os links de produtos, pedidos e clientes*/
ul,
li {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    /* Quita los puntos negros por defecto */
}

/* 3. Barra de opções para Produtos, Clientes e Pedidos */
.navbar {
    background-color: #0f0d06f0;
    overflow: hidden;
    border-radius: 8px;
    padding: 5px 10px;
}

/* Alinha os elementos em fila */
.navbar-list {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Efeito ao pasar o mouse (Hover) */
.navbar-link:hover {
    background-color: #c6c5c0;
    color: #181813;
}

.newClient {
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.newClient input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
}

.container-tabela {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

/* Estilo dos cabeçalhos (<th>) */
th {
    background-color: #c6c2c2;
    color: rgb(0, 0, 0);
    font-weight: bold;
    padding: 12px 15px;
    text-align: center;
}

td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd;
    color: #333333;
}

tr:nth-child(even) {
    background-color: #f8f9fa;
}

tr:hover {
    background-color: #e9ecef;
    transition: background-color 0.3s ease;
}

.container-total {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.label-total {
    color: #4c1408;
    font-size: 24px;
}

.number-total {
    color: #4c1408;
    font-size: 24px;
}

.addBtn {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.addBtn:hover {
    background-color: #5a6d62;
    /* Verde más oscuro */
}

.pedido-sucesso {
    color: #060505;
    text-align: center;
    justify-content: center;
}

.busca-container {
    display: flex;
    flex-direction: row;
    /* Elementos em linha */
    align-items: center;
    justify-content: center;
    gap: 12px;
    /* Espaço entre input e botão */
    width: 100%;
    padding: 20px 20px 5px 20px;
    /* Reduzido o padding inferior */
}

.busca-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 250px;
}

.butao-pedidos {
    padding: 10px 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    background-color: #f0f0f0;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.butao-pedidos:hover {
    background-color: #e0e0e0;
}

/* Estilo para a tabela aparecer bonita e centralizada abaixo */
.tabela-container {
    width: 80%;
    margin: 20px auto;
}

#lista-pedidos {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#lista-pedidos th,
#lista-pedidos td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

#lista-pedidos th {
    background-color: #f4f4f4;
    font-weight: bold;
}